h1 {
	text-decoration: none;
    margin: 0;
    padding: 0;
    display:inline;
}
#topBar	{
	margin: 0;
	padding:0 0 3px 0;
	border-bottom: 3px solid #DDDDDD;
}	
#headerMenuList {
	display: inline;
	margin : 0;
	padding : 0 0 0 0;
}
#headerMenuList li {
	display: inline;
	/* to pad-bottom einai gia epikalipsi tis mparas tou header sto hover 
		ara left kai right panta idia*/
	padding : 100% 0px 8px 0px;
}
#headerMenuList li:HOVER {
	background-color: rgba(0, 0, 70, 0.6);
}
#headerMenuList li h1 a {
	/* apostasi titlou apo menu */
  	padding-right:52px;
    font-size: 90%;
}
#headerMenuList li a {
	/* gia na clickaretai kai sto keno */
	padding:100% 25px 7px 25px;
	font-size: 120%;
    text-decoration: none;
    color : #EEEEEE
}
#headerStats {
	float : right;
	display : inline;
	margin-right : 7px;
	margin-bottom: 0px;
	list-style: none;
}